<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>admin.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stafflogin</servlet-name>
        <servlet-class>staff.stafflogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>staff.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postjobServlet</servlet-name>
        <servlet-class>staff.postjobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffpostjobServlet</servlet-name>
        <servlet-class>staff.staffpostjobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestaff</servlet-name>
        <servlet-class>staff.deletestaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstaff</servlet-name>
        <servlet-class>staff.editstaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>admin.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admineditstaff</servlet-name>
        <servlet-class>admin.admineditstaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindeletestaff</servlet-name>
        <servlet-class>admin.admindeletestaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stafflogin</servlet-name>
        <url-pattern>/stafflogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postjobServlet</servlet-name>
        <url-pattern>/postjobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffpostjobServlet</servlet-name>
        <url-pattern>/staffpostjobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestaff</servlet-name>
        <url-pattern>/deletestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstaff</servlet-name>
        <url-pattern>/editstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admineditstaff</servlet-name>
        <url-pattern>/admineditstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindeletestaff</servlet-name>
        <url-pattern>/admindeletestaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
